<launch>
    <arg name="rate" value="5.0"/>

    <include file="$(find rvr_control)/launch/rvr_control.launch">
        <arg name="rate" value="$(arg rate)"/>
    </include>

    <include file="$(find sensor_control)/launch/publish_rpi_sensors.launch"/>
    <include file="$(find matlab_interface)/launch/matlab_interface.launch"/>
</launch>
